body {
    font-family: 'Arial', sans-serif;
}
.header, .showcase, .cta, .footer {
    padding: 40px 0;
}
.card {
    border: none;
    border-radius: 10px;
}
.card-body {
    padding: 30px;
}
.card-title {
    margin-top: 10px;
    font-size: 1.5em;
}
.card-text {
    font-size: 1em;
}
